<div class="card">
  <div class="card-header">
    {{ pageTitle }}

  </div>
  <div>Resize image
    <input type="range" [value]="imageSize" min="50" max="250" (input)="resizeImage($event)">
  </div>
  Current image size: {{ imageSize }} px;
  <div class="card-body">
    <div *ngIf="message" class="alert alert-success">{{ message }}</div>
    <div class="row">
      <div class="col-md-4">
        <form *ngIf="formCreate" [formGroup]="formCreate">
          <label>User name:(*)</label>
          <input id="userName" formControlName="name" type="text" class="form-control">
          <div *ngIf="name?.touched && name?.invalid" class="text-danger">
            <p *ngIf="name?.errors?.required">
              Ten khong duoc de trong
            </p>
            <p *ngIf="name?.errors?.minlength">
              Ten khong it nhat 4 ky tu
            </p>
          </div>
          <label>Email:</label>
          <input formControlName="email" type="email" class="form-control">
          <label>Password:</label>
          <input formControlName="password" type="text" class="form-control">
          <label for="">Role</label>
          <div class="form-group" *ngFor="let role of roles">
            <input type="checkbox" formControlName="role"  value="{{role.id}}">
            {{ role.name }}
          </div>

          <button type="submit" (click)="submit()" class="btn btn-success" [disabled]="formCreate.invalid">Submit
          </button>
        </form>
      </div>
      <div class="col-md-8">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Avatar</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{ i + 1}}</th>
            <td>{{ user.name }}</td>
            <td><img [width]="imageSize" src="{{ user.avatar }}" alt=""></td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <button [class]="btnClass" (click)="delete(user.id)">Delete</button>
              <button class="btn btn-primary" [routerLink]="[user.id, 'edit']">Edit</button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
